<%-include('../../adminlayout/partials/header')%>
<body>
  <div class="container-scroller">
    <%-include('../../adminlayout/partials/navbar') %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <%-include('../../adminlayout/partials/topbar') %>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">Change Password</h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/novax-assets/admin/dashboard">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                 Change Password Details
                </li>
              </ol>
            </nav>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Payment Details</h4>
                  <p class="card-description">Update Payment Information</p>

                  <% if (success) { %>
                    <div class="alert alert-success">
                      <%= success %>
                    </div>
                  <% } %>
                  <% if (error) { %>
                    <div class="alert alert-danger">
                      <%= error %>
                    </div>
                  <% } %>


                  <form action="/admin/changepassword" method="POST" class="forms-sample">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="Oldpassword">Old Password</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="Oldpassword" name="oldPassword" value="" placeholder="Old Password" aria-autocomplete="false" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="newPassword">New Password</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="newPassword" name="newPassword" value="" placeholder="New Password" aria-autocomplete="false" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="confirm_Password">Confirm New Password</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="confirm_Password" name="confirm_password" value="" placeholder="Confirm New Password" />
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Change Password Details</button>

                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

    <%-include('../../adminlayout/partials/footer') %>
