 <%- include('../../../../partials/header.ejs') %>

<section class="content inbox">
    <div class="block-header" style="margin-top: 5rem;">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Fund Mortgage</h2>
                <br>
                            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="dashboard"><i class="zmdi zmdi-home"></i> Novax-Assets</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Fund REITS</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <form method="post" action="/member/account/deposit/start">
                        <input type="hidden" name="source" value="reit" />
                        <input type="hidden" name="entityId" value="<%= reit.id %>" />
                        <input type="hidden" name="name" value="<%= reit.name %>" />
                        <input type="hidden" name="image" value="<%= reit.image %>" /> 
                        <input type="hidden" name="details" value="<%= reit.details %>" />
                        <input type="hidden" name="reit_rate" value="<%= reit.yield_rate %>" />
                        <div class="body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                 
                                    <div class="form-group form-float">
                                        <label for="met">Payment Method</label>
                                        <select id="met" name="met" class="form-control">
                                            <option>select</option>
                                            <option>Bank Transfer</option>
                                            <option value="Crypto">Crypto</option>
                                            <option value="Card">Card</option>
                                        </select>
                                    </div>
                                    <div style="display:none;" id="crypt" class="form-group form-float">
                                        <label for="cry">Select Crypto</label>
                                        <select id="cry" name="cry" class="form-control">
                                           <option value="btc">BTC</option>
                                            <option value="eth">ETH</option>
                                            <option value="usdt_erc20">USDT(ERC20)</option>
                                            <option value="usdt_trc20">USDT(TRC20)</option>
                                            <option value="ada">ADA</option>
                                        </select>
                                    </div>
                                    <div class="form-group form-float">
                                        <label for="amt">Amount</label>
                                        <input id="amt" type="number" name="amount" value="<%= amount %>"  class="form-control"  readonly>
                                    </div>
                                    
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                        <button type="submit"  title="Submit" name="submit" value="submit" class="btn btn-primary btn-round waves-effect m-t-20">Submit</button>
                               
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        <script>
        document.getElementById('met').addEventListener('change', function() {
  selectmet('met');
});

  
  function selectmet(id) {
    var selectElement = document.getElementById(id);
    var cardInfo = document.getElementById('addcrd');
    var sbm = document.getElementsByName('submit');
    // var sbm = document.querySelector('input[type="submit"]');
    // console.log(sbm[0]);
    var hasCards = false;
    var msg = 'Credit Card option is not available currently in your region, kindly make use of other methods';
    var msg1 = 'Bank Transfer option is not available currently in your region, kindly make use of other methods';

    if (selectElement.value === 'Card') {
      if (!hasCards) {
        cardInfo.style.display = 'block';
      } else {
          sbm[0].disabled = true;
        alert(msg);
      }
    // }else if(selectElement.value === 'Bank Transfer'){
    //     sbm[0].disabled = true;
    //     alert(msg1);
    } else {
      cardInfo.style.display = 'none';
    }
    
    if(selectElement.value === 'Crypto'){
        sbm[0].disabled = false;
        var cry = document.getElementById('crypt');
        cry.style.display = 'block';
    }else{
        cry.style.display = 'none';
    }
  }
</script>
      <link href="/stl.css" rel="stylesheet">
        <div style="display:none" id="addcrd" class="sc-engKbd ezdUho snipcss-BZlnJ">
            <div id="style-wYa5c" class="style-wYa5c">
                <div class="sc-eFqGBh gwRsPK">
                    <div class="sc-dlyeST kMsBOO">
                        <div class="sc-iAEyYk klvgaX">
                            <p class="sc-fsQiph kmkmic">Make Payment with Credit Card</p>
                        </div>
                    </div>
                </div>
                <link rel="stylesheet" href="/snipped.css">
                <div class="InterstitialWithBodyScroll_wrapper_2tfR3 AddFI_interstitialWrapperStyleOverrides_61JBC snipcss-8CAvA"
                    data-testid="ADD_FI-interstitial">
                    
                    <div data-testid="tall-90-percent-container"
                        class="tall-90-percent InterstitialWithBodyScroll_inner-container_1bJRL">
                        <div data-testid="bank-as-debit-container" class="">
                            <form data-testid="add-card" method="post" class="">
                                <div class="">
                                    <div class=""></div>
                                    <div class="AddCardForm_container_19zbS AddCardForm_addCardForm_1yCdJ AddCardForm_hasContingency_1Ymfw">
                                        <div class="UserName_flexContainer_12BCg">
                                            <div class="AddCardForm_halfSizedInputStyle_HyPiI UserName_firstNameInput_1oA44 xo-member-1hv7ga5-text_input_base-text_body"
                                                data-ppui-info="text-input_5.1.3">
                                                <input class="xo-member-16mpn99-text_input_control-text_body-label_placeholder_shown_and_not_focused-text_body"
                                                    name="ccFirstName" id="ccFirstName"  aria-invalid="false" placeholder=" "
                                                    required="" type="text">
                                                <label for="ccFirstName" id="ccFirstName-label"
                                                    class="xo-member-7nxsij-label-text_field_label_sm">
                                                    First name
                                                </label>
                                            </div>
                                            <div class="AddCardForm_halfSizedInputStyle_HyPiI UserName_lastNameInput_3rf7c xo-member-1hv7ga5-text_input_base-text_body"
                                                data-ppui-info="text-input_5.1.3">
                                                <input
                                                    class="xo-member-16mpn99-text_input_control-text_body-label_placeholder_shown_and_not_focused-text_body"
                                                    name="ccLastName" id="ccLastName" aria-invalid="false" placeholder=" "
                                                    required="" type="text">
                                                <label for="ccLastName"
                                                    id="ccLastName-label" class="xo-member-7nxsij-label-text_field_label_sm"
                                                    data-ppui="true">
                                                        Last name
                                                </label>
                                            </div>
                                        </div>
                                        <div data-testid="supported-funding-source-icons"
                                            class="SupportedFundingSourceIcons_supportedFundingSourceIconsContainer_3NchG">
                                            <div data-testid="supported-funding-source-icons-supported-cards"
                                                class="SupportedFundingSourceIcons_fundingSourceIconContainer_3G45V">
                                                <div class="SupportedFundingSourceIcons_fundingSourceIcon_3_bOy">
                                                    <svg aria-labelledby="master-card-art-title" data-testid="master-card-art"
                                                        height="24" role="img" viewBox="0 0 38 24" width="38"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <title id="master-card-art-title">Mastercard</title>
                                                        <g fill="none" fill-rule="evenodd">
                                                            <path
                                                                d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"
                                                                fill="#000" opacity=".07"></path>
                                                            <path
                                                                d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"
                                                                fill="#FFF"></path>
                                                            <circle cx="15" cy="12" fill="#EB001B" r="7"></circle>
                                                            <circle cx="23" cy="12" fill="#F79E1B" r="7"></circle>
                                                            <path
                                                                d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7 0 2.3 1.2 4.5 3 5.7 1.8-1.2 3-3.3 3-5.7z"
                                                                fill="#FF5F00"></path>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="SupportedFundingSourceIcons_fundingSourceIcon_3_bOy">
                                                    <svg aria-labelledby="discover-card-art-title" data-testid="discover-card-art"
                                                        height="24" role="img" viewBox="0 0 38 24" width="38"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <title id="discover-card-art-title">Discover</title>
                                                        <g fill="none" fill-rule="evenodd">
                                                            <path
                                                                d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"
                                                                fill="#000" opacity=".07"></path>
                                                            <path
                                                                d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"
                                                                fill="#FFF"></path>
                                                            <path
                                                                d="M37 16.95V21c0 1.1-.9 2-2 2H23.228c7.896-1.815 12.043-4.601 13.772-6.05z"
                                                                fill="#EDA024"></path>
                                                            <path d="M9 11h20v2H9z" fill="#494949"></path>
                                                            <path d="M22 12c0 1.7-1.3 3-3 3s-3-1.4-3-3 1.4-3 3-3c1.7 0 3 1.3 3 3z"
                                                                fill="#EDA024"></path>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="SupportedFundingSourceIcons_fundingSourceIcon_3_bOy">
                                                    <svg aria-labelledby="visa-card-art-title" data-testid="visa-card-art"
                                                        height="24" role="img" viewBox="0 0 38 24" width="38"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <title id="visa-card-art-title">Visa</title>
                                                        <g fill="none" fill-rule="evenodd">
                                                            <path
                                                                d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"
                                                                fill="#000" opacity=".07"></path>
                                                            <path
                                                                d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"
                                                                fill="#FFF"></path>
                                                            <path
                                                                d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2l-1.7.1zM5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z"
                                                                fill="#142688" fill-rule="nonzero"></path>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="SupportedFundingSourceIcons_fundingSourceIcon_3_bOy">
                                                    <svg aria-labelledby="amex-card-art-title" data-testid="amex-card-art"
                                                        height="24" role="img" viewBox="0 0 38 24" width="38"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <title id="amex-card-art-title">American Express</title>
                                                        <defs>
                                                            <rect height="36" id="amexCardArt-a" rx="4" width="324"></rect>
                                                        </defs>
                                                        <g fill="none" fill-rule="evenodd">
                                                            <g transform="translate(-61 -6)">
                                                                <mask fill="#fff" id="amexCardArt-b">
                                                                    <use xlink:href="#amexCardArt-a"></use>
                                                                </mask>
                                                                <g fill-rule="nonzero" mask="url(#amexCardArt-b)">
                                                                    <path
                                                                        d="M96 6H64c-1.7 0-3 1.3-3 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V9c0-1.7-1.4-3-3-3z"
                                                                        fill="#000" opacity=".07"></path>
                                                                    <path
                                                                        d="M96 7c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H64c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h32"
                                                                        fill="#006FCF"></path>
                                                                    <path
                                                                        d="M69.971 16.268l.774 1.876h-1.542l.768-1.876zm16.075.078h-2.977v.827h2.929v1.239h-2.923v.922h2.977v.739l2.077-2.245-2.077-2.34-.006.858zm-14.063-2.34h3.995l.887 1.935.822-1.941h10.37l1.078 1.19L90.25 14h4.763l-3.519 3.852 3.483 3.828h-4.834l-1.078-1.19-1.125 1.19H71.03l-.494-1.19h-1.13l-.495 1.19H65L68.286 14h3.43l.267.006zm8.663 1.078h-2.239l-1.5 3.536-1.625-3.536H73.06v4.81L71 15.084h-1.993l-2.382 5.512h1.555l.494-1.19h2.596l.494 1.19h2.72v-3.935l1.751 3.941h1.19l1.74-3.929v3.93h1.458l.024-5.52-.001.001zm9.34 2.768l2.531-2.768h-1.822l-1.601 1.726-1.548-1.726h-5.894v5.518h5.81l1.614-1.738 1.548 1.738h1.875l-2.512-2.75h-.001z"
                                                                        fill="#FFF"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="SupportedFundingSourceIcons_fundingSourceIcon_3_bOy">
                                                    <svg aria-labelledby="unionpay-card-art-title" data-testid="unionpay-card-art"
                                                        height="24" role="img" viewBox="0 0 38 24" width="38"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <title id="unionpay-card-art-title">UnionPay</title>
                                                        <g fill="none" fill-rule="evenodd">
                                                            <path d="M-308-18H67v60h-375z"></path>
                                                            <g fill-rule="nonzero">
                                                                <path
                                                                    d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"
                                                                    fill="#000" opacity="0.07"></path>
                                                                <path
                                                                    d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"
                                                                    fill="#FFF"></path>
                                                            </g>
                                                            <g fill-rule="nonzero">
                                                                <path
                                                                    d="M11.997 4h6.37c.888 0 1.441.73 1.234 1.63l-2.965 12.836c-.21.896-1.1 1.627-1.99 1.627H8.279c-.888 0-1.442-.731-1.234-1.627L10.01 5.63c.207-.9 1.097-1.63 1.987-1.63"
                                                                    fill="#E21836"></path>
                                                                <path
                                                                    d="M17.655 4h7.194c.873 0 .48.73.274 1.63l-2.912 12.836c-.204.896-.14 1.627-1.015 1.627h-7.194c-.875 0-1.416-.731-1.21-1.627l2.91-12.836c.208-.9 1.08-1.63 1.953-1.63"
                                                                    fill="#00447C"></path>
                                                                <path
                                                                    d="M24.641 4h6.37c.89 0 1.443.73 1.234 1.63L29.28 18.466c-.21.896-1.1 1.627-1.99 1.627h-6.367c-.89 0-1.443-.731-1.234-1.627L22.654 5.63C22.86 4.73 23.75 4 24.64 4"
                                                                    fill="#007B84"></path>
                                                                <path
                                                                    d="M13.09 7.473c-.654.007-.847 0-.909-.016l-.467 2.3c-.095.44-.164.754-.4.957a.684.684 0 01-.469.175c-.29 0-.46-.154-.488-.446l-.005-.1.088-.594s.464-1.984.547-2.247a.202.202 0 00.007-.03c-.903.009-1.063 0-1.074-.015a3.766 3.766 0 00-.028.144l-.474 2.237-.04.19-.079.62c0 .184.034.334.101.461.216.403.831.463 1.18.463.448 0 .868-.101 1.152-.287.494-.312.623-.799.738-1.232l.053-.222s.478-2.06.56-2.329a.085.085 0 01.008-.03zm1.626 1.662c-.115 0-.326.03-.515.129-.068.038-.133.081-.202.124l.062-.238-.034-.04c-.4.087-.49.098-.86.154l-.032.022c-.042.38-.08.667-.24 1.416a93.9 93.9 0 01-.187.83l.017.035a8.37 8.37 0 01.824-.016l.027-.031c.042-.23.047-.283.14-.748.044-.22.135-.704.18-.876a.587.587 0 01.24-.08c.186 0 .163.172.156.24a9.176 9.176 0 01-.144.815l-.046.209c-.032.154-.068.303-.1.456l.014.03a8.3 8.3 0 01.807-.015l.038-.031c.058-.358.075-.454.177-.975l.052-.24c.1-.469.15-.707.074-.9-.08-.217-.272-.27-.448-.27zm1.815.491c-.199.04-.326.068-.452.086-.125.021-.246.04-.438.069l-.016.015-.014.011c-.02.153-.034.285-.06.44a8.357 8.357 0 01-.114.606 2.62 2.62 0 01-.09.342c-.025.07-.051.14-.1.337l.011.018.01.017c.18-.01.297-.016.417-.017.121-.005.246 0 .44 0l.016-.014.018-.016c.028-.178.032-.226.05-.313.016-.093.046-.222.117-.567.034-.162.072-.323.107-.488l.11-.488-.005-.02-.007-.018zm.004-.662c-.18-.114-.497-.078-.71.08-.214.154-.238.373-.058.488.178.111.496.078.707-.08.213-.158.24-.375.061-.488zm1.092 2.638c.366 0 .74-.107 1.022-.427.217-.259.317-.644.351-.803.112-.526.025-.771-.085-.92-.166-.229-.46-.302-.766-.302-.184 0-.622.02-.963.356-.246.243-.36.573-.428.889-.069.322-.148.901.35 1.117.154.07.376.09.52.09zM17.6 10.42c.084-.398.184-.733.437-.733.2 0 .214.249.125.649-.015.088-.088.418-.186.559-.069.103-.15.166-.24.166-.026 0-.185 0-.188-.252a1.825 1.825 0 01.052-.39zm2.315 1.132l.028-.031c.04-.23.047-.283.137-.747.045-.22.138-.704.181-.877.083-.04.163-.08.243-.08.183 0 .16.171.154.24a8.317 8.317 0 01-.145.815l-.043.208c-.034.155-.07.304-.102.457l.014.03c.375-.02.485-.02.806-.015l.039-.031c.056-.358.071-.454.177-.975l.05-.24c.1-.47.152-.707.077-.9-.082-.217-.276-.27-.45-.27-.115 0-.326.03-.514.129a3 3 0 00-.2.124l.057-.238-.031-.04c-.4.087-.492.098-.862.154l-.029.022c-.044.38-.08.667-.24 1.416-.06.276-.124.554-.187.83l.017.035c.38-.022.493-.022.823-.016zm2.756.016l.165-.853s.12-.535.127-.554c0 0 .037-.056.075-.078h.055c.521 0 1.11 0 1.571-.363.314-.248.528-.616.624-1.062.025-.11.043-.24.043-.37 0-.17-.032-.34-.125-.472-.235-.352-.703-.358-1.244-.36l-.267.002c-.692.01-.97.006-1.083-.008l-.028.15-.248 1.23-.621 2.733c.604-.008.852-.008.956.005zm.46-2.182l.262-1.22.008-.064.004-.047.106.011.556.051c.215.09.303.318.241.616a.89.89 0 01-.434.613c-.176.094-.39.102-.611.102h-.143l.01-.062zm1.64 1.057c-.069.317-.149.897.348 1.103a.91.91 0 00.444.086c.152-.01.293-.09.424-.208l-.036.145.023.03c.357-.015.468-.015.854-.012l.035-.029c.057-.354.11-.699.257-1.378.071-.325.143-.647.216-.97l-.011-.036c-.4.079-.506.096-.89.154l-.03.025-.011.097a.56.56 0 00-.28-.247c-.171-.071-.572.021-.917.357-.243.24-.359.568-.425.883zm.84.019c.085-.391.183-.722.438-.722.16 0 .246.159.228.43a7.477 7.477 0 01-.046.218c-.025.116-.053.232-.08.347a.865.865 0 01-.094.203.43.43 0 01-.31.16c-.026 0-.183 0-.188-.247a1.81 1.81 0 01.052-.389zm4.38-1.292l-.03-.037a8.986 8.986 0 01-.83.151l-.027.029-.005.018v-.006c-.271.666-.263.522-.483 1.047l-.003-.064-.055-1.138-.034-.037c-.414.085-.424.099-.806.151l-.03.029c-.004.013-.004.028-.007.045l.003.005c.047.261.036.203.084.615.022.202.052.406.074.605.038.334.06.499.105 1.009-.258.455-.32.627-.568 1.027l.002.004-.175.296c-.02.03-.038.052-.064.061a.249.249 0 01-.114.018h-.097l-.144.512.494.01a.604.604 0 00.571-.342l.311-.57h-.005l.033-.04c.209-.481 1.8-3.398 1.8-3.398zm-5.22 6.73h-.209l.777-2.745h.257l.082-.283.008.315c-.01.194.133.366.509.338h.435l.15-.529h-.164c-.094 0-.138-.025-.133-.08l-.007-.32h-.805v.002c-.26.006-1.038.027-1.195.072-.19.052-.39.207-.39.207l.078-.284h-.753l-.157.562-.787 2.786h-.152l-.15.525h1.5l-.05.175h.738l.05-.175h.206l.163-.567zm-.614-2.187a3.24 3.24 0 00-.345.143l.2-.7h.597l-.144.51s-.185.012-.308.047zm.011 1.002s-.188.025-.311.055c-.122.04-.35.164-.35.164l.205-.73h.602l-.146.51zm-.335 1.19h-.6l.174-.615h.598l-.172.616zm1.445-1.701h.865l-.124.43h-.877l-.131.47h.766l-.58.874a.243.243 0 01-.118.105.328.328 0 01-.156.047h-.212l-.146.516h.556c.29 0 .46-.141.586-.326l.398-.582.086.591a.273.273 0 00.143.201c.056.03.113.081.194.089.088.004.15.007.192.007h.274l.164-.576h-.108c-.062 0-.168-.012-.186-.032-.019-.025-.019-.064-.028-.123l-.087-.593h-.355l.156-.198h.874l.135-.47h-.81l.126-.43h.807l.15-.53h-2.407l-.147.53zm-7.305 1.822l.202-.718h.83l.151-.534h-.83l.127-.441h.811l.15-.517h-2.03l-.147.517h.461l-.123.441h-.462l-.154.543h.461l-.269.95c-.036.125.017.173.051.231.035.057.07.095.149.116a.84.84 0 00.212.031h.936l.166-.59-.414.06c-.08 0-.302-.01-.278-.09zm.095-3.436l-.21.406a.467.467 0 01-.122.17c-.032.02-.096.03-.188.03h-.11l-.146.52h.364c.175 0 .31-.07.374-.104.07-.04.087-.017.14-.072l.124-.114h1.137l.151-.54h-.832l.145-.296h-.827zm1.68 3.446c-.02-.03-.006-.082.024-.192l.311-1.1h1.106c.161-.002.278-.004.354-.01a.69.69 0 00.266-.096c.1-.058.15-.12.193-.19a1.67 1.67 0 00.191-.463l.39-1.391-1.147.007s-.354.055-.51.117c-.156.069-.38.26-.38.26l.103-.381h-.709l-.993 3.518a2.305 2.305 0 00-.064.295c-.002.064.076.128.126.176.06.048.147.04.232.048.088.007.214.011.388.011h.545l.167-.603-.488.05a.126.126 0 01-.105-.056zm.536-2.034h1.162l-.074.247c-.01.006-.036-.012-.154.003h-1.006l.072-.25zm.232-.83h1.172l-.084.298s-.552-.006-.64.011c-.39.072-.617.295-.617.295l.17-.604zm.882 1.905a.133.133 0 01-.046.077c-.024.016-.062.022-.12.022h-.165l.01-.301h-.688l-.028 1.472c-.001.107.008.168.08.218.074.061.298.069.6.069h.431l.156-.552-.376.023-.125.007a.133.133 0 01-.051-.034c-.016-.017-.043-.006-.038-.113l.003-.377.394-.018a.493.493 0 00.38-.144c.075-.068.1-.145.127-.25l.066-.334h-.541l-.07.235z"
                                                                    fill="#FEFEFE"></path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="SupportedFundingSourceIcons_fundingSourceIcon_3_bOy">
                                                    <svg aria-labelledby="diners-card-art-title" data-testid="diners-card-art"
                                                        xmlns="http://www.w3.org/2000/svg" width="38" height="24"
                                                        viewBox="0 0 38 24">
                                                        <title id="diners-card-art-title">Diners</title>
                                                        <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                                            <g>
                                                                <path fill="#000" fill-rule="nonzero"
                                                                    d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"
                                                                    opacity="0.07"></path>
                                                                <path fill="#FFF" fill-rule="nonzero"
                                                                    d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32">
                                                                </path>
                                                                <g transform="translate(9.625 4.125)">
                                                                    <path fill="#0079BE"
                                                                        d="M10.736 14.222c3.968.018 7.59-3.17 7.59-7.05 0-4.241-3.622-7.173-7.59-7.172H7.321C3.305-.001 0 2.932 0 7.173c0 3.88 3.305 7.067 7.32 7.049h3.416z">
                                                                    </path>
                                                                    <path fill="#FFF"
                                                                        d="M7.337.588C3.667.588.694 3.502.693 7.098c.001 3.595 2.975 6.509 6.644 6.51 3.67-.001 6.644-2.915 6.645-6.51 0-3.596-2.975-6.51-6.645-6.51zm-4.211 6.51c.003-1.757 1.124-3.255 2.703-3.85v7.7c-1.58-.595-2.7-2.092-2.703-3.85zm5.718 3.852V3.247c1.58.594 2.703 2.093 2.705 3.851-.002 1.759-1.124 3.257-2.705 3.852z">
                                                                    </path>
                                                                    <path fill="#0079BE"
                                                                        d="M10.736 14.222c3.968.018 7.59-3.17 7.59-7.05 0-4.241-3.622-7.173-7.59-7.172H7.321C3.305-.001 0 2.932 0 7.173c0 3.88 3.305 7.067 7.32 7.049h3.416z">
                                                                    </path>
                                                                    <path fill="#FFF"
                                                                        d="M7.337.588C3.667.588.694 3.502.693 7.098c.001 3.595 2.975 6.509 6.644 6.51 3.67-.001 6.644-2.915 6.645-6.51 0-3.596-2.975-6.51-6.645-6.51zm-4.211 6.51c.003-1.757 1.124-3.255 2.703-3.85v7.7c-1.58-.595-2.7-2.092-2.703-3.85zm5.718 3.852V3.247c1.58.594 2.703 2.093 2.705 3.851-.002 1.759-1.124 3.257-2.705 3.852z">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div data-testid="supported-funding-source-icons-supported-banks"
                                                class="SupportedFundingSourceIcons_fundingSourceIconContainer_3G45V"></div>
                                        </div>
                                        <div class="AddCardForm_flexContainer_2oXOm">
                                            <div class="style-fvyDF" data-testid="split-credit-card-fields" id="style-fvyDF">
                                                <div class="AddCardForm_inputStyle_9NEKu xo-member-1hv7ga5-text_input_base-text_body"
                                                    data-ppui-info="text-input_5.1.3"><input  aria-invalid="false" placeholder=" "
                                                        class="xo-member-19s4o06-text_input_control-text_body-text_input_control_with_icon_right-label_placeholder_shown_and_not_focused-text_body"
                                                        name="cardnumber" id="cardNumber" maxlength="19" minlength="19" required=""
                                                        type="text"><label
                                                        for="cardNumber" id="cardNumber-label" 
                                                        class="xo-member-1h2psxc-label-text_field_label_sm-label_with_icon_right"
                                                        data-ppui="true">Card number</label>
                                                    <div data-ppui="true" class="xo-member-seefud-icon_right">
                                                        <div class="CreditCardForm_cardIconContainer_L_uCM">
                                                            <span class="xo-member-4757ty-svg-size_xs" data-ppui-info="icons_8.14.0" data-ppui="true">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    fill="currentColor" viewBox="0 0 24 24" width="1em" height="1em"
                                                                    data-ppui="true">
                                                                    <path fill-rule="evenodd"
                                                                        d="M2 5.997a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-12zm3 3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-2zm11.05 5.021c-.203.432-.767.475-1.105.138-.256-.257-.291-.653-.161-.99A3.24 3.24 0 0 0 15 11.997c0-.412-.076-.805-.216-1.168-.13-.338-.095-.734.161-.99.338-.337.902-.294 1.105.138.289.613.45 1.298.45 2.02a4.73 4.73 0 0 1-.45 2.021zm.997 1.299c-.205.326-.184.756.088 1.028.316.316.839.293 1.085-.08a7.714 7.714 0 0 0 1.28-4.268c0-1.577-.47-3.043-1.28-4.267-.246-.373-.769-.397-1.085-.08-.272.272-.293.702-.088 1.028.604.961.953 2.1.953 3.32a6.22 6.22 0 0 1-.953 3.319z"
                                                                        clip-rule="evenodd" data-ppui="true"></path>
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="AddCardForm_flexContainer_2oXOm">
                                                    <div class="AddCardForm_halfSizedInputStyle_HyPiI AddCardForm_expireDateInput_2ewgO xo-member-1hv7ga5-text_input_base-text_body"
                                                        data-ppui-info="text-input_5.1.3">
                                                        <input
                                                            class="xo-member-16mpn99-text_input_control-text_body-label_placeholder_shown_and_not_focused-text_body"
                                                            name="Expirationdate" id="cardExpiry" placeholder=" "
                                                            data-testid="split-card-expiry" required="" type="month">
                                                        <label for="cardExpiry"
                                                            id="cardExpiry-label" class="xo-member-7nxsij-label-text_field_label_sm"
                                                            data-ppui="true">
                                                            Expiration date
                                                        </label>
                                                    </div>
                                                    <div class="AddCardForm_halfSizedInputStyle_HyPiI AddCardForm_cvvInput_1Pp31 xo-member-1hv7ga5-text_input_base-text_body"
                                                        data-ppui-info="text-input_5.1.3"><input aria-invalid="false" placeholder=" "
                                                            class="xo-member-19s4o06-text_input_control-text_body-text_input_control_with_icon_right-label_placeholder_shown_and_not_focused-text_body"
                                                            name="cvc" id="cardCvv"
                                                            maxlength="3" minlength="3" required=""
                                                            type="text"><label
                                                            for="cardCvv" id="cardCvv-label"
                                                            class="xo-member-1h2psxc-label-text_field_label_sm-label_with_icon_right"
                                                            data-ppui="true">CVV</label>
                                                        <div data-ppui="true" class="xo-member-seefud-icon_right"><span><img alt=""
                                                                    height="auto" src="./images/csc-card-back.svg"
                                                                    width="38px"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div>
                                        <div class="AddressForm_addressFormContainer_3mULU">
                                            <div class="AddressForm_input_2SODF xo-member-1hv7ga5-text_input_base-text_body"
                                                data-ppui-info="text-input_5.1.3">
                                                <input name="address"
                                                    class="xo-member-16mpn99-text_input_control-text_body-label_placeholder_shown_and_not_focused-text_body"
                                                    id="line1" aria-invalid="false" placeholder=" " required="" value="">
                                                <label for="line1" id="line1-label" class="xo-member-7nxsij-label-text_field_label_sm">
                                                    Address
                                                </label>
                                            </div>
                                            <div class="AddressForm_input_2SODF xo-member-1hv7ga5-text_input_base-text_body"
                                                data-ppui-info="text-input_5.1.3">
                                                <input class="xo-member-16mpn99-text_input_control-text_body-label_placeholder_shown_and_not_focused-text_body"
                                                    id="city" name="city" aria-invalid="false" placeholder=" " required="">
                                                <label for="city" id="city-label" class="xo-member-7nxsij-label-text_field_label_sm"
                                                    data-ppui="true">
                                                    City
                                                </label>
                                            </div>
                                            <div class="AddressForm_flexContainer_1otxU">
                                                <div class="AddressForm_flexInput_107rs AddressForm_postalCode_P_bmi xo-member-1hv7ga5-text_input_base-text_body">
                                                    <input class="xo-member-16mpn99-text_input_control-text_body-label_placeholder_shown_and_not_focused-text_body"
                                                        id="postalCode" name="postcode" aria-invalid="false" placeholder=" " maxlength="6">
                                                    <label for="postalCode" id="postalCode-label"
                                                        class="xo-member-7nxsij-label-text_field_label_sm">
                                                        Postcode
                                                    </label>
                                                </div>
                                                <div class="AddressForm_verticalSpace_1XHHX"></div>
                                                <div class="AddressForm_flexInput_107rs AddressForm_postalCode_P_bmi xo-member-1hv7ga5-text_input_base-text_body">
                                                    <input class="xo-member-16mpn99-text_input_control-text_body-label_placeholder_shown_and_not_focused-text_body"
                                                        id="state" name="state" placeholder=" " maxlength="6">
                                                    <label for="state" id="state-label"
                                                        class="xo-member-7nxsij-label-text_field_label_sm">
                                                        State
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="setupcd" value="submit1" name="submit1" type="submit" onclick="selectmet('addcrd')" class="Buttons_base_2xi07 xo-member-ylhy9c-button_base-text_button_lg-btn_full_width">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</section>

<script src="/assets/bundles/libscripts.bundle.js"></script>
<script src="/assets/bundles/vendorscripts.bundle.js"></script>
<script src="/assets/plugins/ckeditor/ckeditor.js"></script>
<script src="/assets/bundles/mainscripts.bundle.js"></script>
<script src="/assets/js/pages/forms/editors.js"></script>