 <%- include('../../../../partials/header.ejs') %>

<section class="content home" style="margin-top:90px !important;">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>REITS
                        <small class="text-muted">Welcome to Novax-Assets</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                   
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="/dashboard"><i class="zmdi zmdi-home"></i> Novax-Assets </a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">REITS & Properties</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <link rel="stylesheet" type="text/css" href="/assets/main.259e36d1.css">
            </div>
            <div class="row clearfix">
                <div class="overflow-hidden bg-lofty-darkest" id="marketplace-landing">
                    <section
                        class="bg-lofty-dealsHeader relative z-40 bg-gradient-to-tr from-[#110E36] via-[#252360] to-[#110E36] via-10% to-60% ">
                        <div class="hidden lg:flex sm:flex-col z-40 w-full justify-center pt-8 px-16 bg-transparent">
                            
                            <div class="flex flex-col items-center sm:py-8 lg:pt-14 lg:pb-6 z-10">
                                <h1
                                    class="pb-2 text-center font-extrabold text-5xl 2xl:text-6xl lg:w-2/3 xl:w-4/5 sm:flex sm:flex-col leading-105 text-[#DFE2F9] dark:from-lofty-white dark:to-lofty-light tracking-tight-1 capitalize">
                                    Fractional Real Estate Marketplace</h1>
                                <h5
                                    class="text-lg text-center md:text-xl lg:text-2xl lg:w-1/2 xl:w-2/3 text-white dark:text-lofty-gray leading-105 pt-4 lg:pt-8 tracking-normal">
                                    Invest in fractions of rental properties listed.</h5>
                            </div>
                        </div>
                        <div class="flex flex-col lg:hidden">
                            <div class="relative w-full"></div>
                            <div class="flex flex-col items-center justify-center pt-10 pb-10 p-6">
                                <h3
                                    class="text-center font-extrabold text-3xl leading-105 text-[#DFE2F9] dark:to-lofty-light tracking-tight-1">
                                    Fractional Real Estate Marketplace</h3>
                                <h5
                                    class="text-center text-default text-lg lg:text-xl text-white dark:text-lofty-gray leading-105 pt-4 lg:pt-8 tracking-normal">
                                    Invest in fractions of rental properties listed.</h5>
                            </div>
                        </div>
                    </section>
                    
                    <div>
                        <div class="w-full bg-lofty-darkest">
                            <div class="hidden md:block">
                                <div class="">
                                    <div class="min-w-[1450px]">
                                        <div class="px-16 pt-8">
                                            <div class="self-stretch justify-end items-center inline-flex"></div>
                                            <div class="py-4">
                                                <div
                                                    class="hidden md:flex items-center min-w-[1450px] py-4 border-b border-white/10 text-white text-sm font-semibold">
                                                    <div class="w-[300px] pr-4">
                                                        <div>Property</div>
                                                    </div>
                                                    <div class="w-[100px] pr-4">
                                                        <div class="cursor-pointer flex justify-start items-center space-x-2"><span
                                                            class="select-none">Price</span>
                                                        </div>
                                                    </div>
                                                    <div class="w-[100px] pr-4">
                                                        <div class="cursor-pointer flex justify-start items-center space-x-2"><span
                                                                class="select-none">Yield Rate</span>
                                                        </div>
                                                    </div>
                                                    <div class="w-[100px] pr-4">
                                                        <div>Status</div>
                                                    </div>
                                                    <div class="w-[150px] pr-4">
                                                        <div class="cursor-pointer flex justify-start items-center space-x-2"><span
                                                                class="select-none">Market Cap</span>
                                                        </div>
                                                    </div>
                                                    <div class="w-[200px] pr-4">
                                                        <div class="cursor-pointer flex justify-start items-center space-x-2"><span
                                                                class="select-none">Tokens Available</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                                                                <a target="_blank" rel="noreferrer"
                                                    class="hidden md:flex py-3.5 border-b border-white/10 items-center min-w-[1450px] cursor-pointer hover:bg-white/5"
                                                    href="listings_details/1">
                                                    <div class="w-[300px] pr-4 flex items-center gap-3"><img
                                                            class="w-[81px] h-[50px] rounded"
                                                            src="/uploads/"
                                                            alt="1317 South Solano Dr">
                                                        <div class="flex-col justify-center items-start">
                                                            <div class="text-white text-sm font-bold font-['Inter'] leading-normal">
                                                                4BHK Alexander Court,New York</div>
                                                            <div
                                                                class="text-white/50 text-xs font-normal font-['Inter'] leading-[18px]">
                                                                Eldridge, IA 52748</div>
                                                        </div>
                                                    </div>
                                                    <div class="w-[100px] pr-4 flex items-center justify-between">
                                                        <div class="text-[#eef5f7] text-sm font-medium font-['Inter'] leading-snug">
                                                            50</div>
                                                        
                                                    </div>
                                                    
                                                    <div
                                                        class="w-[100px] pr-4 text-[#eef5f7] text-sm font-medium font-['Inter'] leading-snug">
                                                        2</div>
                                                    
                                                    <div class="w-[100px] pr-4 leading-snug">
                                                                                                                <div
                                                            class="px-2 py-0.5 bg-[#4D3FED] rounded-full border border-[#66c990]/25 inline-flex justify-center items-center">
                                                            <div
                                                                class="text-center text-white text-xs font-medium font-['Inter'] leading-[18px] whitespace-nowrap">
                                                                Rented</div>
                                                        </div>
                                                                                                            </div>
                                                    <div
                                                        class="w-[150px] pr-4 text-[#eef5f7] text-sm font-medium font-['Inter'] leading-snug">
                                                        48350</div>
                                                    <div class="w-[200px] pr-4 flex items-center">
                                                        <div class="text-[#eef5f7] text-sm font-medium font-['Inter'] leading-snug">
                                                             4982/5,000</div>
                                                        <div
                                                            class="text-[#9383FF] text-sm font-medium font-['Inter'] leading-snug ml-2">
                                                             99.64%</div>
                                                    </div>
                                                </a>

                                                    <% reits.forEach(function(reit) { %>


                                                                                                <a target="_blank" rel="noreferrer"
                                                    class="hidden md:flex py-3.5 border-b border-white/10 items-center min-w-[1450px] cursor-pointer hover:bg-white/5"
                                                    href="listings_details/<%= reit.id %>">
                                                    <div class="w-[300px] pr-4 flex items-center gap-3"><img
                                                            class="w-[81px] h-[50px] rounded"
                                                            src="/uploads/reit/<%= reit.image %>"
                                                            alt="<%= reit.name %>">
                                                        <div class="flex-col justify-center items-start">
                                                            <div class="text-white text-sm font-bold font-['Inter'] leading-normal">
                                                                <%= reit.name %></div>
                                                            <div
                                                                class="text-white/50 text-xs font-normal font-['Inter'] leading-[18px]">
                                                                <%= reit.location %></div>
                                                        </div>
                                                    </div>
                                                    <div class="w-[100px] pr-4 flex items-center justify-between">
                                                        <div class="text-[#eef5f7] text-sm font-medium font-['Inter'] leading-snug">
                                                            <%= reit.price %></div>
                                                        
                                                    </div>
                                                    
                                                    <div
                                                        class="w-[100px] pr-4 text-[#eef5f7] text-sm font-medium font-['Inter'] leading-snug">
                                                        3</div>
                                                    
                                                    <div class="w-[100px] pr-4 leading-snug">
                                                                                                                <div
                                                            class="px-2 py-0.5 bg-[#4D3FED] rounded-full border border-[#66c990]/25 inline-flex justify-center items-center">
                                                            <div
                                                                class="text-center text-white text-xs font-medium font-['Inter'] leading-[18px] whitespace-nowrap">
                                                                <%= reit.status %></div>
                                                        </div>
                                                                                                            </div>
                                                    <div
                                                        class="w-[150px] pr-4 text-[#eef5f7] text-sm font-medium font-['Inter'] leading-snug">
                                                        <%= reit.market_cap %></div>
                                                    <div class="w-[200px] pr-4 flex items-center">
                                                        <div class="text-[#eef5f7] text-sm font-medium font-['Inter'] leading-snug">
                                                             <%= reit.tokens %></div>
                                                        <div
                                                            class="text-[#9383FF] text-sm font-medium font-['Inter'] leading-snug ml-2">
                                                             <%= reit.available %></div>
                                                    </div>
                                                </a>
                                                    <% }) %>
                                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="md:hidden">
                                                                <div class="px-4 py-6">
                                    <div class="flex flex-col p-4 border-b border-white/10">
                                        <div class="flex justify-between items-center mb-4">
                                            <div class="flex items-center gap-3"><img
                                                    src="../uploads/IMAGE06734e883a4b97.webp"
                                                    alt="4BHK Alexander Court,New York" class="w-[81px] h-[50px] rounded">
                                                <div>
                                                    <h3 class="text-white text-sm font-bold">4BHK Alexander Court,New York</h3>
                                                    <p class="text-white/50 text-xs">Eldridge, IA 52748</p>
                                                </div>
                                            </div><a class="bg-lofty text-white text-sm font-semibold py-2 px-3 rounded-full"
                                                target="_blank" rel="noreferrer"
                                                href="fractional.php?id=1">Buy</a>
                                        </div>
                                        <div class="flex justify-between items-center mb-2">
                                            <span
                                                class="text-white text-sm font-semibold">Price</span>
                                            <span
                                                class="text-white text-sm font-semibold">Yield</span>
                                            <span
                                                class="text-white text-sm font-semibold">Tokens No</span>
                                            <span
                                                class="text-white text-sm font-semibold">Market Cap</span>
                                        </div>
                                        
                                        <div class="flex justify-between items-center">
                                            <div class="flex items-center gap-2">
                                                <span
                                                    class="text-[#EEF5F7] text-sm font-medium">$50</span>
                                            </div>
                                            <span class="text-[#EEF5F7] text-sm font-medium">2%</span>
                                            <div class="flex items-center gap-2">
                                                <span
                                                    class="text-[#EEF5F7] text-sm font-medium">207/3,612</span>
                                                
                                            </div>
                                            <span class="text-[#EEF5F7] text-sm font-medium">$48350</span>
                                        </div>
                                        
                                    </div>                      
                                </div> 
                                                                <div class="px-4 py-6">
                                    <div class="flex flex-col p-4 border-b border-white/10">
                                        <div class="flex justify-between items-center mb-4">
                                            <div class="flex items-center gap-3"><img
                                                    src="../uploads/IMAGE06734e883a4b97.webp"
                                                    alt="816 Barajas Ter" class="w-[81px] h-[50px] rounded">
                                                <div>
                                                    <h3 class="text-white text-sm font-bold">816 Barajas Ter</h3>
                                                    <p class="text-white/50 text-xs">Mustang, OK 73064</p>
                                                </div>
                                            </div><a class="bg-lofty text-white text-sm font-semibold py-2 px-3 rounded-full"
                                                target="_blank" rel="noreferrer"
                                                href="fractional.php?id=2">Buy</a>
                                        </div>
                                        <div class="flex justify-between items-center mb-2">
                                            <span
                                                class="text-white text-sm font-semibold">Price</span>
                                            <span
                                                class="text-white text-sm font-semibold">Yield</span>
                                            <span
                                                class="text-white text-sm font-semibold">Tokens No</span>
                                            <span
                                                class="text-white text-sm font-semibold">Market Cap</span>
                                        </div>
                                        
                                        <div class="flex justify-between items-center">
                                            <div class="flex items-center gap-2">
                                                <span
                                                    class="text-[#EEF5F7] text-sm font-medium">$750</span>
                                            </div>
                                            <span class="text-[#EEF5F7] text-sm font-medium">3%</span>
                                            <div class="flex items-center gap-2">
                                                <span
                                                    class="text-[#EEF5F7] text-sm font-medium">207/3,612</span>
                                                
                                            </div>
                                            <span class="text-[#EEF5F7] text-sm font-medium">$725250</span>
                                        </div>
                                        
                                    </div>                      
                                </div> 
                                                                <div class="px-4 py-6">
                                    <div class="flex flex-col p-4 border-b border-white/10">
                                        <div class="flex justify-between items-center mb-4">
                                            <div class="flex items-center gap-3"><img
                                                    src="../uploads/IMAGE06734e883a4b97.webp"
                                                    alt="10 Marion Avenue" class="w-[81px] h-[50px] rounded">
                                                <div>
                                                    <h3 class="text-white text-sm font-bold">10 Marion Avenue</h3>
                                                    <p class="text-white/50 text-xs">Albany, NY 12203</p>
                                                </div>
                                            </div><a class="bg-lofty text-white text-sm font-semibold py-2 px-3 rounded-full"
                                                target="_blank" rel="noreferrer"
                                                href="fractional.php?id=3">Buy</a>
                                        </div>
                                        <div class="flex justify-between items-center mb-2">
                                            <span
                                                class="text-white text-sm font-semibold">Price</span>
                                            <span
                                                class="text-white text-sm font-semibold">Yield</span>
                                            <span
                                                class="text-white text-sm font-semibold">Tokens No</span>
                                            <span
                                                class="text-white text-sm font-semibold">Market Cap</span>
                                        </div>
                                        
                                        <div class="flex justify-between items-center">
                                            <div class="flex items-center gap-2">
                                                <span
                                                    class="text-[#EEF5F7] text-sm font-medium">$1200</span>
                                            </div>
                                            <span class="text-[#EEF5F7] text-sm font-medium">2%</span>
                                            <div class="flex items-center gap-2">
                                                <span
                                                    class="text-[#EEF5F7] text-sm font-medium">207/3,612</span>
                                                
                                            </div>
                                            <span class="text-[#EEF5F7] text-sm font-medium">$1160400</span>
                                        </div>
                                        
                                    </div>                      
                                </div> 
                                                                <div class="px-4 py-6">
                                    <div class="flex flex-col p-4 border-b border-white/10">
                                        <div class="flex justify-between items-center mb-4">
                                            <div class="flex items-center gap-3"><img
                                                    src="../uploads/IMAGE06734e883a4b97.webp"
                                                    alt="1712 NW 7th St" class="w-[81px] h-[50px] rounded">
                                                <div>
                                                    <h3 class="text-white text-sm font-bold">1712 NW 7th St</h3>
                                                    <p class="text-white/50 text-xs">Oklahoma City, OK 73106</p>
                                                </div>
                                            </div><a class="bg-lofty text-white text-sm font-semibold py-2 px-3 rounded-full"
                                                target="_blank" rel="noreferrer"
                                                href="fractional.php?id=4">Buy</a>
                                        </div>
                                        <div class="flex justify-between items-center mb-2">
                                            <span
                                                class="text-white text-sm font-semibold">Price</span>
                                            <span
                                                class="text-white text-sm font-semibold">Yield</span>
                                            <span
                                                class="text-white text-sm font-semibold">Tokens No</span>
                                            <span
                                                class="text-white text-sm font-semibold">Market Cap</span>
                                        </div>
                                        
                                        <div class="flex justify-between items-center">
                                            <div class="flex items-center gap-2">
                                                <span
                                                    class="text-[#EEF5F7] text-sm font-medium">$300</span>
                                            </div>
                                            <span class="text-[#EEF5F7] text-sm font-medium">2%</span>
                                            <div class="flex items-center gap-2">
                                                <span
                                                    class="text-[#EEF5F7] text-sm font-medium">207/3,612</span>
                                                
                                            </div>
                                            <span class="text-[#EEF5F7] text-sm font-medium">$290100</span>
                                        </div>
                                        
                                    </div>                      
                                </div> 
                                                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/assets/bundles/libscripts.bundle.js"></script>
    <script src="/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="/assets/bundles/mainscripts.bundle.js"></script>
</body>

</html>

